<div class="container">
  <!-- Alert Dialog -->
  <div class="alert" id="alert"></div>
  <!-- Comments Container -->
  <div class="comment-container">
    <span class="title">Comments:</span>
    <!-- Comments -->
    <ul class="comment-list">
      @for (comment of comments; track comment.userID) {
        <li class="comment-list-item" [innerHTML]="this.parseComment(comment)">
        </li>
      }
    </ul>
    <!-- User Search Field Drop-Up Menu-->
    @if (this.search() && this.usersMatchingQuery().length > 0) {
      <ul class="user-list">
        @for (user of this.usersMatchingQuery(); track user.userID) {
          <li class="user-list-item" [value]="user.userID"  (click)="selectUser($event)">{{user.name}}</li>
        }
      </ul>
    }
    <!--  Comment Input -->
    <div
      id="comment-input"
      class="comment-input"
      contenteditable="true"
      placeholder="Type a comment here..."
      (keyup)="this.handleInput($event)"
    >
    </div>
    <!-- Submit Button -->
    <button type="button" (click)="this.submitComment()">Send</button>
  </div>
</div>


<router-outlet></router-outlet>